<section class="about-me">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title">
            <h2>Don't know me?</h2>
            <footer>this is what i do, what i like, how i roll...</footer>
          </div>
        </div>

        <aside class="col-xs-12 col-sm-4 col-md-3 col-sm-push-8 col-md-push-8 col-md-offset-1">
          <div class="me-img">
            <img src="images/me.jpg" alt="Self-Portrait">
          </div>

          <div class="me-btns" style="display:none;">
            <a href="#" target="_blank" title="CV">
              <i class="fa fa-download"></i>
              <span>Download CV</span>
            </a>
          </div>
        </aside>
      
        <div class="col-xs-12 col-sm-8 col-md-7 col-sm-pull-4 col-md-pull-3">
          <div class="about-text">
            <h3>Luís Melo</h3>
            <h4>UX/UI Design, Web Development & Photography</h4>
            <p>
              I'm a Portuguese UX/UI designer, front-end developer and also experienced with backend development, aiming to create usefull, clean and user-centered web and mobile experiences.<br/>
              I'm experienced with the implementation of UX strategies, web and mobile standards and also usability rules in order to make applications and websites usable, usefull and goal-oriented.
            </p>
            <p>
              If I'm not coding or designing, thats probably because I'm hiking or geocaching. I really love nature and the sense of freedom that it provides.
            </p>
            <p>
              Oh, and one more thing! I'm an amateur photographer with a big passion for nature and landscape photography.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>