<nav class="menubar text-center">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar">
      <ul class="menu menubar-nav">
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/">HOME</a></li>
        <li class="{% if page.url == '/portfolio.html' %}active{% endif %}"><a href="{{site.baseurl}}/portfolio.html">PORTFOLIO</a></li>  
        <li class="{% if page.url == '/blog.html' %}active{% endif %}"><a href="{{site.baseurl}}/blog.html">BLOG</a></li>          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>