<section class="testimonials">
    <div class="container-fluid">

      <!--SECTION TITLE-->
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title">
            <h2>Client testimonials</h2>
            <footer>the quality proof is in the clients words</footer>
          </div>
        </div>
      </div>

      <!--QUOTE ICON-->
      <div class="row">
        <div class="col-xs-12">
          <div class="quote-icon">
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
      </div>

      <!--QUOTES-->
      <div class="row">
        <div class="col-xs-12">
          <div id="testimonials-carousel" class="owl-carousel">
            <article>
              <h4>Pessoa</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit felis, fringilla et ante vel, venenatis posuere enim. Mauris id luctus neque. Sed at justo non est sollicitudin accumsan.</p>
            </article>
            <article>
              <h4>Pessoa</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit felis, fringilla et ante vel, venenatis posuere enim. Mauris id luctus neque. Sed at justo non est sollicitudin accumsan.</p>
            </article>
            <article>
              <h4>Pessoa</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit felis, fringilla et ante vel, venenatis posuere enim. Mauris id luctus neque. Sed at justo non est sollicitudin accumsan.</p>
            </article>
            <article>
              <h4>Pessoa</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit felis, fringilla et ante vel, venenatis posuere enim. Mauris id luctus neque. Sed at justo non est sollicitudin accumsan.</p>
            </article>
            <article>
              <h4>Pessoa</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit felis, fringilla et ante vel, venenatis posuere enim. Mauris id luctus neque. Sed at justo non est sollicitudin accumsan.</p>
            </article>
          </div>
        </div>
      </div>
      
    </div>
  </section>