<section class="testimonials">
    <div class="container-fluid">

      <!--SECTION TITLE-->
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title">
            <h2>Client testimonials</h2>
            <footer>the quality proof is in the clients words</footer>
          </div>
        </div>
      </div>

      <!--QUOTE ICON-->
      <div class="row">
        <div class="col-xs-12">
          <div class="quote-icon">
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
      </div>

      <!--QUOTES-->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div id="testimonials-carousel" class="owl-carousel">
            <article>
              <h4>Scouts - 631</h4>
              <p>There were several scouts' events that had a lack of advertising elements to help promoting and gather enough funds for our group, and Luis's work was essential to reach as many people as possible. We had a great adherence from the public that joined the events, allowing us to help the comunity and give continous support to our troopers.</p>
            </article>
          </div>
        </div>
      </div>
      
    </div>
  </section>