<section class="work">
    <div class="container-fluid no-pad">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title">
            <h2 class="colored">This is what i do</h2>
            <footer>colors, shapes, code... I love it!</footer>
          </div>
        </div>
      </div>

      <!--TABS-->
      <div class="row filter-tabs">
        <div class="filter" data-filter="all">All</div>
        <div class="filter" data-filter=".design">UI/UX</div>
        <div class="filter" data-filter=".code">Code</div>
        <div class="filter" data-filter=".photography">Photography</div>
      </div>

    
      <!--WORKS CONTAINER-->
      {% include work-list.html type='main' %}

      <!--More-->
      <div class="row no-pad">
        <!--CTA-->
        <div class="cta-container">
          <a href="/portfolio/" title="More" class="cta to-dark">
            Much, much more...
          </a>
        </div>
      </div>

    </div>
  </section>

  {% include work-modals.html type='main' %}