<div class="portfolio-modal modal fade" id="work1" tabindex="-1" role="dialog" aria-labelledby="work1">
    <div class="modal-content">
      <div class="fake-backgrop"></div>

      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="modal-body">
              <h1>Titulo do projeto</h1>
              <p class="proj-intro-text">Uma rápida descrição do projecto</p>
              <img src="images/bg_intro.jpg" alt="Image" class="img-responsive">

              <div class="row complete-desc">
                <div class="col-md-9 proj-desc">
                  <h2>
                    Descrição
                  </h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non risus vel eros mattis dictum. Vestibulum vitae bibendum lectus. Pellentesque ullamcorper neque purus, ac dictum nibh vestibulum eu. Vestibulum convallis, purus eget auctor facilisis, nunc ligula feugiat velit, sed semper mi mi quis metus. Quisque id nibh risus. Mauris non faucibus ante. Vestibulum varius massa non blandit ornare. Duis congue lobortis hendrerit. Suspendisse odio arcu, semper ac maximus vel, placerat id ligula. Donec in rutrum diam. Praesent vehicula convallis magna. Fusce metus elit, feugiat a mi nec, rhoncus iaculis nulla. Vivamus vel elit quam. Nam vel aliquet sapien.
                  </p>
                </div>
                <div class="col-md-3 proj-btns">
                  <a href="#" target="_blank" class="cta to-dark">View project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>