{% for work in site.portfolio %}
    <!-- Set test var to false -->
    {% assign test = false %}

    <!-- Test if there is any TYPE as argument -->
    {% if include.type == null %}
      {% assign test = true %}
    {% else %}

      <!-- If there is a TYPE, compare with work item -->
      {% if work.type == include.type %}
        {% assign test = true %}
      {% endif %}  
    {% endif %}

   {% if test %}

  <div class="portfolio-modal modal fade" id="modal-{{work.permalink}}" tabindex="-1" role="dialog" aria-labelledby="{{work.permalink}}">
    <div class="modal-content">
      <div class="fake-backgrop"></div>

      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">

            <!--BODY-->
            <div class="modal-body">
              <h1>{{ work.title }}</h1>
              <p class="proj-intro-text">{{ work.categories | join:" / " }}</p>

              <!--CAROUSEL-->              

              <div id="owl-{{work.permalink}}" class="owl-carousel owl-theme portfolio-carousel">              
                {% for image in work.images %}
                  <div class="item"><img src="{{ image.url | prepend: site.baseurl }}" alt="{{image.alt}}"></div>
                {% endfor %}
              </div>


              <!--FULL DESC-->
              <div class="row complete-desc">
                <div class="col-md-9 proj-desc">
                  <h2>
                    Descrição
                  </h2>
                  <p>
                    {{ work.content }}
                  </p>
                </div>
                <div class="col-md-3 proj-btns">
                  <a href="#" target="_blank" class="cta to-dark">View project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}