<div class="row no-pad" id="Container">

  <div class="option photo">
    <div class="col-xs-12 text-center margin__bottom--60">
      <a href="https://luisfbmelo.pixieset.com/" target="_blank" class="cta to-dark">Check Event Photography Portfolio<i class="fa fa-chevron-right padding__left--10"></i></a>
    </div>
  </div>
  
  {% assign limit = 12 %}

  <!--LIST-->

  {% if include.type == 'main' %}
    {% assign main_posts = site.portfolio | group_by: "type" %}

    {% for types in main_posts  %}

      {% if types.name == 'main'  %}
        {% for work in types.items reversed%}

          <div class="col-xs-12 col-sm-6 col-md-3 mix {{ work.classes | join:" " }} proj-details-modal" data-toggle="modal" id="work-item-{{work.permalink}}" data-target="#proj-{{work.permalink}}">
            <div class="work-item">
              <div class="work-img">
                <img src="/images/portfolio/{{ work.thumbnail[0].url }}" alt="{{ work.thumbnail[0].alt}}" class="img-responsive full-width">
              </div>
              <div class="work-text">
                <h3>{{ work.title }}</h3>
                <footer>{{ work.categories | join:" / " }}</footer>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endif %}


  {% if include.type == null %}
    {% assign items = site.portfolio | sort: 'date' | reverse %}
    {% for work in items limit:limit %}

      <div class="col-xs-12 col-sm-6 col-md-3 mix {{ work.classes | join:" " }} proj-details-modal" data-toggle="modal" id="work-item-{{work.permalink}}" data-target="#proj-{{work.permalink}}">
        <div class="work-item">
          <div class="work-img">
            <img src="/images/portfolio/{{ work.thumbnail[0].url }}" alt="{{ work.thumbnail[0].alt}}" class="img-responsive full-width">
          </div>
          <div class="work-text">
            <h3>{{ work.title }}</h3>
            <footer>{{ work.categories | join:" / " }}</footer>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% if include.type == null %}
  {% if site.portfolio.size >= limit %}
    <!-- LOAD MORE -->
    <div class="container portfolio-more-button">
      <!--More-->
      <div class="row no-pad">
        <!--CTA-->
        <div class="cta-container">
          <a href="#" title="More" class="cta to-dark load-more" data-current="{{ limit }}" data-limit="{{ limit }}" data-type="portfolio">
            Load More
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}