<section class="work">
    <div class="container-fluid no-pad">
      
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title">
            <h2 class="colored">This is what i do</h2>
            <footer>colors, shapes, code... I love it!</footer>
          </div>
        </div>
      </div>

      <!--TABS-->
      <div class="row filter-tabs">
        <div class="filter" data-filter="all">All</div>
        <div class="filter" data-filter=".design">UI/UX</div>
        <div class="filter" data-filter=".code">Code</div>
        <div class="filter" data-filter=".photo">Photography</div>
      </div>

    
      <!--WORKS CONTAINER-->
      <div class="row no-pad" id="Container">

        <!--LIST-->
        <div class="col-xs-12 col-sm-6 col-md-3 mix design" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix code" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix photo" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix design" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix code" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix code" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix code" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 mix code" data-toggle="modal" data-target="#work1">
          <div class="work-item">
            <div class="work-img">
              <img src="images/work_ex.jpg" alt="work image" class="img-responsive">
            </div>
            <div class="work-text">
              <h3>Titulo</h3>
              <footer>cat1/cat2/cat3</footer>
            </div>
          </div>
        </div>

      </div>

      <!--More-->
      <div class="row no-pad">
        <!--CTA-->
        <div class="cta-container">
          <a href="/portfolio.html" title="More" class="cta to-dark">
            Much, much more...
          </a>
        </div>
      </div>

    </div>
  </section>

  {% include work-modals.html %}