.post{
	padding:20px 0 30px;

	.post-content{
		@include generic-links();

		
		img:not(.emoji){
		  	display: block;
			width: 100%;
			height: auto;
			margin:40px auto;
		}

		.emoji{
			width: 18px;
		}

		p{
			line-height:1.7;
		}
	}

	.post-header{
		text-align:center;
		margin:30px;
	}

	.post-cats{
		padding:20px 0;
		color:$post-summary;
		@include font-size(14px);
		font-style:italic;
	}
}