.post{
	padding:20px 0 30px;

	.post-content{
		@include generic-links();

		
		img{
		  	display: block;
			width: 100%;
			height: auto;
			margin:40px auto;
		}

		p{
			line-height:1.7;
		}
	}

	.post-header{
		text-align:center;
		margin:30px;
	}

}