.post{
	padding:20px 0 30px;

	.post-content{
		@include generic-links();

		
		img:not(.emoji){
		  	display: block;
			max-width: 100%;
			height: auto;
			margin:40px auto;
		}

		.emoji{
			width: 18px;
		}

		h1,h2,h3,h4,h5,h6{
			margin-top:40px;
			color: $heading-color;
		}

		p{
			line-height:1.7;
		}

		li{
			margin-bottom:5px;
		}

		ol {
		    counter-reset: item;
		}
		ol li { 
			display: block 
		}

		ol li:before {
		    content: counter(item) ". ";
		    counter-increment: item;
		    font-weight: bold;
		    padding-right: 5px;
    		margin-left: -15px;
		}
	}

	.post-header{
		text-align:center;
		margin:30px;
	}

	.post-cats{
		
		padding:20px 0;
		color:$post-summary;
		@include font-size(14px);
		font-style:italic;
	}
}