//MENU COLORS
$active-el:#41C4B5;
$transparent-el: rgba(255,255,255,.0);
$scrolled: rgba(50, 50, 50, 0.93);

//BUTTONS
$cta-bg:$active-el;
$simple-bg:#323232;
$simple-color:#ffffff;

//INTRO
$workareas-border:rgba(250,250,250,0.7);
$workareas-text:#F0F0F0;

//ABOUT ME
$area-bg: $active-el;
$img-border:rgba(250,250,250,0.3);

//WORK
$overlay:rgba(0,0,0,0.8);

//FORMS
$input-border:#EFEFEF;
$form-text:#666666;
$send-border:$active-el;
$send-text:$active-el;
$send-bg:$active-el;
$or-sep:rgb(137, 137, 137);

//SUB SECTIONS
$sub-bg:#f1f1f1;

//POSTS
$post-border:rgb(221, 221, 221);
$post-summary:rgb(148, 148, 148);
$post-seemore:#BEBEBE;