---
layout: subs
title: Blog
page-section: Blog
masterClass: blog-top
---

<section class="sub-section blog-wrapper">
	<div class="container">
		<div class="row blog-posts">
			{% for post in paginator.posts | sort:"date" %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="post-container">
						<figure>
							<a href="{{site.baseurl}}{{ post.url }}">
								<div class="post-image-overlay"><span>See more</span></div>
								<img src="{{ post.thumbnail[0].url }}" alt="{{ post.thumbnail[0].alt }}" class="img-responsive full-width">
							</a>
						</figure>
						<div class="post-summary">
							<div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>						
							<h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
							<article>{{ post.excerpt | strip_html | replace: '&nbsp;', ' ' | truncate: 120 }}</article>
						</div>

						<div class="post-cats">
							Tags: {{ post.categories | join:", " }}
						</div>
					</div>
				</div>

				{% assign loopindex_sm = forloop.index | modulo: 2 %}
				{% assign loopindex_md = forloop.index | modulo: 3 %}
				{% if loopindex_sm == 0 %}
					<div class="clearfix visible-sm"></div>
				{% endif %}

				{% if loopindex_md == 0 %}
					<div class="clearfix visible-md visible-lg"></div>
				{% endif %}

			{% endfor %}
		</div>

		
		{% if paginator.total_pages > 1 %}
			<div class="row">
				<div class="col-xs-12 pag-container">
					<ul class="pagination">
					  {% if paginator.previous_page %}
					  	<li>
					    	<a rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a>
				    	</li>
					  {% else %}
					  	<li class="disabled">
						    <span><i class="fa fa-chevron-left"></i></span>
				    	</li>
					  {% endif %}

					  {% for page in (1..paginator.total_pages) %}
					    {% if page == paginator.page %}
					    	<li class="active">
					      		<a href="#">{{ page }} <span class="sr-only">(current)</span></a>
					      	</li>
					    {% elsif page == 1 %}
					    	<li>
					      		<a href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
					      	</li>
					    {% else %}
					    	<li>
					      		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				      		</li>
					    {% endif %}
					  {% endfor %}

					  {% if paginator.next_page %}
				  			<li>
					    		<a rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-right"></i></a>
				    		</li>
					  {% else %}
					  	<li class="disabled">
					    	<span><i class="fa fa-chevron-right"></i></span>
					    </li>
					  {% endif %}
					</ul>
				</div>
			</div>
		{% endif %}
		
	</div>
</section>