
html,body{
	height:100%;
	width:100%;

	font:{
		size: 16px!important;
	} 

}

*{
	font-family:'Open Sans', sans-serif;
}

.clearAll{
	clear:both;
}

.container.no-pad,
.container-fluid.no-pad{
	padding-right:0;
	padding-left:0;

	> .row{
		margin-right:0;
		margin-left:0;
	}
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.full-width{
	width:100%;
}